
.vs/zorgapp/v15/Server/sqlite3/db.lock
.vs/zorgapp/v15/Server/sqlite3/storage.ide
.vs/zorgapp/v15/Server/sqlite3/storage.ide-shm
.vs/zorgapp/v15/Server/sqlite3/storage.ide-wal
.vs/zorgapp/v15/.suo
.vs/zorgapp/v16/Server/sqlite3/storage.ide-wal
.vs/zorgapp/DesignTimeBuild/.dtbcache
bin/Debug/netcoreapp2.1/zorgapp.pdb
bin/Debug/netcoreapp2.1/zorgapp.Views.pdb
bin/Debug/netcoreapp2.1/zorgapp.Views.dll
bin/Debug/netcoreapp2.1/zorgapp.dll
.vs/zorgapp/v16/.suo
*.cache
*.ide-wal
*.ide-shm
obj/Debug/netcoreapp2.1/Razor/Views/Patient/Login.cshtml.g.cs
obj/Debug/
