<!DOCTYPE html>

<h2>Profile</h2>
<p>Profile of:</p>
<p>@ViewBag.username</p>
<!DOCTYPE html>
<html>
<head>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}

		th, td {
			padding: 10px;
		}

		th {
			text-align: middle;
		}
	</style>
</head>
<body>

	<h2>Left-align Headings</h2>
	<p>To left-align the table headings, use the CSS text-align property.</p>

	<table style="width:50%" id=Firstname>
		<tr>
			<th>Firstname</th>

		</tr>
		<tr>
			<td></td>

		</tr>
		<tr1>
			<td>Eve</td>

		</tr1>
		<tr>
			<td>John</td>

		</tr>
	</table>



</body>


</html>